@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a asp-action="ExternalResources">External resources test page</a></li>
    </ul>
</div>
